body{
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #f4f5f5;
	max-width: 2000px;
	margin: 0 auto;
	position: relative;
}
img{padding:0px;margin:0px;}
button, button:focus{ outline:none !important; border:none;}
.form-control:focus , .btn:focus{ box-shadow: none;}
textarea ,input ,input:focus , select{ outline: none!important;}
a,a:hover{
	color:#264653;
}
 h4{
    	font-size: 24px;
    }
/*=============common classses=========*/
.f-10{
    font-size: 10px;
}
.f-11{
    font-size: 11px;
}
.f-12{
    font-size: 12px;
}
.f-13{
    font-size: 13px;
}
.f-14{
    font-size: 14px;
}
.f-15{
    font-size: 15px;
}
.f-16{
    font-size: 16px;
}
.f-17{
    font-size: 17px;
}
.f-18{
    font-size: 18px;
}
.f-19{
    font-size: 19px;
}
.f-20{
    font-size: 20px;
}

.py-2-5 {
     padding-top: 0.7rem;
     padding-bottom: 0.7rem;
}
.bg-none{
    background: none ;
}
.cursor-pointer{
     cursor: pointer;
}
.radius-50{
     border-radius:40px;
}
.radius-20{
     border-radius: 20px;
}
.radius-15 {
     border-radius: 15px;
}
.radius-10 {
     border-radius: 10px;
}
.fw-600{
    font-weight:600;
}
.fw-500{
    font-weight: 500;
}
.loc-icon:hover{text-decoration: none;}
.text-theme , .text-theme:hover{
    color: #0D72A0;
}
.text-theme , .text-theme:hover{
    color: #0D72A0;
}
.bg-theme,.bg-theme:hover{
	background:#0D72A0;
}
.space-5{
	padding-top: 50px;
	padding-bottom: 50px;
}
.space-6{
	padding-top: 60px;
	padding-bottom: 60px;
}
.text-grey{
	color:#77808A;
}
.color-second{
	color: #264653;
}
.one-line{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
h2.heading-title{
	font-size: 32px;
    margin-bottom: 36px;
    font-weight: 600;
}
/*===========common classses end===========*/
/*============header and footer============*/
.header-block01 {
	padding: 35px 0;
	position: relative;
	background: #fff;
}
.header-logo{
	height: 46px;
    width: 145px;
    object-fit: contain;
}
.searchbar-block{
	position: relative;
	display: flex;
}
.search-icon{
	position: absolute;
	left:13px;
	top:15px;
	width:17px;
	object-fit: contain;
}
.search-input{
	height: 47px;
    border: 1px solid #D2D2D2;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 15px;
    padding-left:40px;
}
.search-submit-btn{
	background:#0D72A0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height:47px;
    color: #fff;
    font-size: 12px;
    padding: 0px 21px;
}
.cart-btn{
	width: 52px;
	text-align: center;
    cursor:pointer;
    height: 52px;
    box-shadow: 0px 0px 15px #b7bdc492;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cart-number{
	position: absolute;
	width: 25px;
    border-radius: 50%;
    text-align: center;
    background: #0d72a0;
    right: -7px;
    color: #fff;
    line-height: 24px;
    top: -4px;
    font-size: 13px;
    position: absolute;
    height: 25px;
}
.cart-btn img{
	width: 22px;
	object-fit: contain;
}
.header-block01 .user-btn {
	box-shadow: 0px 0px 15px #b7bdc492;
    padding: 12px 17px;
    border-radius: 60px;
    height: 52px;
}
.user-btn.dropdown-toggle::after{
	display: none;
}
.login-btn img{
	width: 25.5px;
	object-fit: contain;
}

#search-toggle{
 margin-right: 14px;
}
.right-side-header, .left-side-header{
	z-index: 9;
}
/*==footer==*/
.footer-logo{
	height: auto;
	max-height:50px;
	width: 160px;
	object-fit: contain;
	margin-bottom: 1.65rem;
}
.footer-title{
	font-size: 22px;
}
.footer-links a{
	font-size: 17px;
}
ul.list-unstyled.footer-links li {
    line-height: 37px;
}
.product-list li {
    line-height: 34px;
    position: relative;
}
.product-list li:before{
	content: '';
	background:#7EB23D ;
	width:8px;
	height: 8px;
	border-radius: 50%;
	top: 13.6px;
	position: absolute;
}
.product-list li a{
    margin-left: 18px;
    font-size: 17px;
}
.contact-icon{
	box-shadow: 0px 0px 15px #b7bdc492;
	width: 55px;
	height: 55px;
	text-align: center;
	border-radius: 50%;
	    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon img{
	width:23px;
	object-fit: contain;
}
.contact-text{
	width: calc(100% - 65px);
}
.social-list img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.social-list li{
	margin-right: 16px;
}
/* login and signup */
.input-field{
	background:#f8f8f8;
	min-height:62px;
	border: none;
	outline: none;
	width: 100%;
	border-radius: 10px;
	padding: 5px 20px 5px 20px;
}
.padding-box{
	padding-right:35px;
	padding-left:35px;
}
.input-block{
	margin-bottom: 30px;
}
.login-page-banner{
	position: relative;
}
.login-page-banner{
	background: url(assets/images/login-banner.png);
	background-repeat: no-repeat;
	height: 90vh;
}
.login-img{
	position: absolute;
	right: 0;
	top: 0;
}
.submit-btn{
	display: block;
	color: #fff;
	margin: 23px 0;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	padding: 18px 0;
}
.modal-inner {
	max-width: 576px;
	width: 100%;
	padding: 33px 0;
}
.modal-custom{
	width: 100%;
	justify-content: center;
	align-items: center;
	padding:66px 0;
	overflow:hidden;
	top: 0;
	bottom: 0;
	display: flex;
	z-index: 999;
}
.address-modal-outer{
	display: none;
}
.address-modal{
	width: 100%;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	z-index: 999;
	display:flex;
	position: fixed;
	top:0; bottom:0; right:0; left:0;
	background:rgb(0 0 0 / 30%);
}
.address-inner::-webkit-scrollbar-track{
	border-radius: 25px;
	background-color: #F5F5F5;
}

.address-inner::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

.address-inner::-webkit-scrollbar-thumb{
	border-radius: 25px;
	background-color: #848a8e;
}
.address-inner {
    max-width: 576px;
    width: 100%;
    max-height: 92vh;
	overflow-y:auto;
    padding: 33px 0;
}
.close-modal{
	position: absolute;
	right: 9px;
	top: 9px;
	color: red;
	font-weight: 700;
	font-size: 22px;
}
.social-signup{
   margin-right:-18px;
}
.social-signup img {
   width:21px;
}
.social-signup a{
	background: #f8f8f8;
	margin-right: 18px;
	background: #f8f8f8;
   border-radius: 5px;
   padding: 5px 7px;
}
/*============header and footer end============*/
/*====================home page=================*/
/*-banner--*/
.home-banner-text{
 	max-width:640px;
 	z-index: 99;
 	transform: translateY(24%);
}
.home-banner-text h2{
	line-height:78px;
	margin-bottom:17px;
}
.home-banner-text p{
	font-size: 20px;
	line-height:35px;
}
.home-banner-block{
    height:700px;
}
.home-right-banner{
    position: absolute;
    top: 0;
    right: 0;
    height: 825px;
    z-index: 0;
    overflow: hidden;
}
/*=======caytegories========*/
.categories-row ,.margin-row {
	margin-left: -15px;
	margin-right: -15px;
}
.categorie-item , .column-5{
	width: 20%;
	padding-right: 15px;
	margin-bottom: 40px;
	padding-left: 15px;
}
.categorie-bg{
	border-radius: 12px;
	height: 270px;
	display: flex;
	position: relative;
    align-items: center;
    justify-content: center;
    color: inherit;
    overflow: hidden;
}
.categorie-item .categorie-bg{
	height: 270px;
}
.categorie-bg:hover{
	color: inherit;
}
.categorie-item img {
	margin-bottom: 25px;
    width: 140px;
    object-fit: contain;
    height: 126px;
}
.categorie-item .color-1 ,.color-1{
	background: rgb(107 15 52 / 10%);
}
.categorie-item .color-2 ,.color-2{
	background: rgb(172 207 75 / 34%);
}
.categorie-item .color-3 ,.color-3{
	background:rgb(240 176 27 / 13%);
}
.categorie-item .color-4 ,.color-4{
	background: rgb(248 214 204 / 38%);
}
.categorie-item .color-5 ,.color-5{
background:rgb(251 183 19 / 0.1);
}
.categorie-item .color-6 ,.color-6{
background:rgb(239 212 227 / 0.9);
}
.categorie-item .color-7 ,.color-7{
background:rgb(250 122 85 / 0.14);
}
.categorie-item .color-8 ,.color-8{
background:rgb(247 164 0 / 23%);
}
.categorie-item .color-9 ,.color-9{
background:rgb(254 190 108 / 0.23);
}
.categorie-item .color-10 ,.color-10{
background:#ebd5d3;
}
.categorie-title{
	position: absolute;
	bottom: 5px;
    left: 6px;
    font-size: 22px;
    right: 6px;
    text-align: center;
	text-transform: capitalize;
}
.top-pick-item{
	box-shadow: inset 0px 0px 6px #00000029;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 20px;
	border: 1px  solid #e5e5e5;;
}
.top-pick-item img{
	width: 150px;
	height: 150px;
	object-fit: contain;
	margin-bottom:42px;
}
.top-pick-title {
    bottom: 15px;
    font-size: 21px;
    position: absolute;
    color: #264653;
    right: 0px;
    left: 0px;
    text-align: center;
}
.first-line .top-pick-title {
    font-size:30px;
}
.first-line a.top-pick-item {
    height: calc(100% - 20px);
}
.first-line .top-pick-item img{
	width: 300px;
	height: 300px;
	object-fit: contain;
	margin-bottom: 58px;
}
.top-pick-item{
	margin-bottom: 20px;
	min-height:250px;
}
.titleblock{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
    padding: 0px 20px;
}
.titleblock .heading-title{
	margin-bottom: 26px;
}
.shop-item{
	box-shadow:0px 0px 6px #00000029;
	border-radius: 20px;
	overflow: hidden;
	display: block;
}
.shop-img{
	width: 100%;
	object-fit: cover;
	height: 300px;
}
.shop-title{
	font-size: 22px;
	font-weight: 600;
}
.store-rating{
	top: 46px;
    position: absolute;
    right: 20px;
    align-items: center;
}
.shop--name{
    max-width: 80%;
}
.shop--name span{
    line-height: 13px;
}
.small-icon{
	height: 15px;
	object-fit: contain;
}
.shop-bottom{
	padding: 23px 18px;
	position: relative;
}
.text-red{
	color: #FC4B4E;
}
.product-img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.recommended-product-box{
	height: 265px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    display: flex;
    margin-bottom: 10px;
    padding: 30px 22px;
}
/*=====================*/
.small-border{
	display: block;
    height: 3px;
    width: 125px;
    margin-top: 13px;
}
.small-border-xm{
	display: block;
    height: 3px;
    width:93px;
    margin-top: 13px;
}

.green03{
    background: #7EB23D;
}
.yellow03{
	background: #FEC740;
}
.red03, .bg-red{
	background: #FC4B4E;
}
.line-product-img img {
    width: 85px;
    height: 85px;
    object-fit: contain;
}
.bg-white.line-product-img {
    padding: 10px;
}
.line-product-content h5 {
    font-size: 17px;
    font-weight: 600;
}
/*=======blogss==========*/
.blog-item .card-img-top{
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius:12px;
}
.blog-item .card-title{
	 line-height: 29px;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 58px;
}
.blog-item .card-text{
	height: 68px;
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    color: #264653;
}
.read-butn-card , .read-butn-card:focus{border:1px solid #05172C;}
/*=====contact=========*/
.store-fru img{height: 100%;width: 100%;object-fit: cover;  border-top-right-radius:50px;border-bottom-right-radius:50px;}
.contact-box h2{
	font-size: 38px;
}
.contact-box input{
	 height: 67px;
    border: 1px solid #dbd9d9;
    border-radius: 10px;
}
.contact-box textarea{
	min-height: 165px;
	 border: 1px solid #dbd9d9;
    border-radius: 10px;
}
.contact-box .send-btn{
	width: 170px;
}

/*=======other pages=======*/
.page-content{
	min-height:calc(100vh - 580px);
}
.breadcrumb-custom{
	list-style-type: none;
	display: flex;
	padding:14px 0;
	font-size: 13px;
	color: #fff;
}
.breadcrumb-custom a{
	color: #fff;
}
.breadcrumb-custom a:after {
    content: '|';
    margin :0px 10px 0px 7px;
}
.heading-other{
	font-size: 25px;
}
.inner-search-block{
	position: relative;
}
.inner-search-icon{
	position: absolute;
    bottom: 7px;
    left: 3px;
    height: 17px;
}
.inner-search-input{
    width: 250px;
    background: none;
    padding-bottom: 2px;
    padding-left: 25px;
    border: none;
    border-bottom: 1px solid #908c8c;
}

/*======shop page=====*/
.shop-banner-block{
	background: url(../images/shop-banner.png);
	width: 100%;
	height: 578px;
    background-repeat: no-repeat!important;
    min-width: 100%;
    background-size: cover!important;
	object-fit: cover;
	position: relative;
	z-index: 99;
}
.shop-banner-block:after {
    position: absolute;
    top: 0;
    content: '';
    background: rgb(0 0 0 / 71%);
    bottom: 0;
    width: 100%;
    left: 0;
    max-width:700px;
    z-index: -1;
}
.shop-text{
	max-width: 538px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.mark-20{
	height: 20px;
	object-fit: contain;
}
.rating-shop-ul li{
	margin-right:15px;
}
.rating-shop-ul img{
	height: 18px;
	object-fit: contain;
}
.add-to-cart-btn{
	color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px 0px;
    background: #0d72a0;
    display: block;
   text-align: center;
   left:0;
   right:0;
   height: 40px;
}
.side-filter-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
	overflow: hidden;
}
.text-light-grey{
	color: #9c9d9e;
}
.side-filter-item.active-filter span{
	color: #0d72a0;
	text-decoration: underline;
}
.shop-product-item .categorie-bg{
	height:270px;
	margin-bottom:30px;
}
.shop-product-item{
	margin-bottom: 40px;
}
.shop-product-item h5{
	text-transform: capitalize;
}
.shop-product-item .categorie-bg img{
	width: 160px;
    height: 160px;
    margin-bottom: 20px;
    object-fit: contain;
}
.close-filter-btn{
	 position: absolute;
    color: #fff;
    right: 9px;
    font-size: 15px;
    top: 31%;
}
.side-filter-bar{
	overflow: hidden;
}
/*prodduct des page*/
#show-filters-btn{
	color: #fff;
}
.buy-btn ,.order-btn{
	background: #0d72a0;
    color: #fff;
    border-radius: 25px;
    width: 205px;
    padding: 13px 0;
}
.order-btn{
	width: 100%;
}
.product-img-div{
    height:520px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 2px 12px #b7bdc480;
    text-align: center;
    padding: 10px;
    position: relative;
}
.product-img-div img{
	width: 100%;
	height: 100%;
	max-height:75%;
	object-fit: contain;
}
.slider--product .multiple-img{
	background: #fff;
	border-radius: 10px;
	height: 150px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 10px;
	justify-content: center;
}
.slider--product .multiple-img img{
	max-width: 100%;
}
.product-slider-block{
	position: absolute;
	bottom: 15px;
	left: 10px;
	right: 10px;
	max-width: 100%;
}
.shadow-btn {
    background: #fff;
    box-shadow: 0px 1px 10px #b7bdc492;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50%;
}
.delete-cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow-p {
    margin: 0px auto;
    font-weight: 500;
    border: none;
    background: transparent;
    max-width: 78px;
    text-align: center;
    font-weight: 500;
}
.number-btns{
	display: flex;
	align-items: center;
}
.desc-box p{
	margin-bottom: 0;
}
/*order- cart page*/
.order-product-item{
	align-items: center;
}
.order-left-box , .order-right-box{
	background: #fff;
    border-radius: 12px;
    box-shadow: 0px 1px 12px #b7bdc480;
    padding: 20px 24px;
}
.order-product-item .number-bg{
	background: #f4f5f5;
	border-radius: 26px;
}
.number-bg .minus{
	background: none;
	box-shadow: none;
}
.order-product-img {
    width: 120px;
    overflow: hidden;
    padding: 15px;
    height: 120px;
    border-radius: 12px;
}
.order-product-img img {
    width: 95px;
    object-fit: contain;
    height: 95px;
}
.order-product-item .name {
	width: calc(100% - 138px);
    overflow: hidden;
}
.order-product-content {
	/*width: calc(100% - 305px);*/
	justify-content: space-between;
}
.order-product-content .shadow-btn img{
	 width: 17px;
}
/*========FAQ Banner=====*/
.faq-banner-block{
    background: url(../images/faq-full.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 578px;
	object-fit: cover;
	position: relative;
	z-index: 99;
}
.banner-head-theme{
	font-size:72px;
	padding-bottom:10px;
	border-bottom: 4px solid #0D72A0;
	color: #0D72A0;
	display: inline-block;
	margin-bottom: 25px;
}
.banner-text-theme{
    max-width: 576px;
    transform: translateY(43px);
}

/*==stock out page==*/
.stock-out-div , .stock-out-product{
    position: absolute;
    background: rgb(215 215 215 / 80%);
    width: 100%;
    left: 0;
    justify-content: center;
    height: 100%;
    align-items: center;
    right: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
}
.stock-out-div img{
	 width: 100px!important;
    height: 100px!important;
    object-fit: contain;
}

.stock-out-product img{
	 width: 170px!important;
    height: 170px!important;
    object-fit: contain;
}
/* ======checkout-page==== */
.address-item{
	background-color:#f4f9fc;
	padding:20px 15px;
	border-radius:12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height:290px;
}

.address-row{
	margin-right:-10px;
	margin-left:-10px;
	display: flex;
	flex-wrap: wrap;
}
.address-row div[class^="col"] {
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.add-address-img{
	max-width: 125px;
    object-fit: contain;
}
.small-theme-btn{
	background: #0d72a0;
    color: #fff;
    border-radius: 20px;
	padding:5px 23px;
	font-size: 11px;
}
.card-detail-box input{
	border-radius: 10px;
    height: 45px;
}
/*========FAQ Banner=====*/
.faq-banner-block{
    background: url(../images/banner-bg-full.png);
	background-repeat: no-repeat;
	width: 100%;
	height:670px;
	position:relative;
	z-index: 99;
}
.banner-head-theme{
	font-size:72px;
	padding-bottom:10px;
	border-bottom: 4px solid #0D72A0;
	color: #0D72A0;
	display: inline-block;
	margin-bottom: 25px;
}
.banner-text-theme{
    max-width: 576px;
    transform: translateY(43px);
}
/* FAQ */
.question-field{
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 12px;
}
.question-number{
	min-width: 65px;
	color: #fff0f0;
	width: 65px;
    background: #B7BDC4;
}
.question-content{
	 padding: 18px 10px 18px 30px;
	 width: calc(100% - 95px);
}
.question-number span{
	display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.answer{
	margin-top: 10px;
	font-size: 14px;
	display: none;
}
.question-icon{
	 min-width: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-top: 0px;
    text-align: center;
    font-size: 18px;
}
.active-ques .question-number{
	background: #0D72A0;
	color: #fff;
}
.active-ques .question-icon{
	display: inline-block;
    padding-top: 8px;
}
/* about */
.about-img{
	max-height: 575px;
    object-fit: contain;
}
.icon-about-block{
	padding:75px 0;
}
.theme-circle-icon{
    background-color: #0D72A0;
    border-radius: 50%;
    display: flex;
    width: 90px;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    justify-content: center;
}
.faq-blog-block .card{
	background:transparent!important;
}
.select-banner-block{
	position: relative;
    top: -128px;
}
.select-banner{
	height:350px;
	overflow: hidden;

	text-align: right;
	box-shadow:0px 0px 8px #b8b8b833;
}
.select-banner img{
	width:100%;
	height:100%;
	overflow: hidden;
	object-fit: scale-down;
}
.select-banner-slider .owl-item .select-banner {
    transform: scale(0.86);
}
.select-banner-block .owl-item.active.center .select-banner {
    transform: scale(1);
}


/* vishal */
/* .search-form {
	right: 200px;
	top: 200px;
} */

 .search-field {
	background-color: transparent;
	background-image: url(../images/address.png);
	background-position: 5px  center;
	background-repeat: no-repeat;
	background-size: 19px 22px;
	border: none;
	cursor: pointer;
	height: 40px;
	margin-top: 7px;

	padding: 0 0 0 30px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width:0px;
   cursor: pointer;
}

.search-field {
	background-color: #fff;
	border: 1px solid #D2D2D2;
	outline: 0;  color:grey;
  border-radius: 30px;
  padding-right:10px;
}
.search-form
.search-submit {
display:none;
}
/* .search-form2 {
	right: 200px;
	top: 200px;
} */
.loc-icon {
    max-width: 280px;
    width:280px;
}
.loc-icon label{
    width:100%;
}
 .search-field-2 {
	background-color: transparent;
	background-image: url(../images/search-them.png);
	background-position: 5px  center;
	background-repeat: no-repeat;
	background-size: 21px 22px;
	border: none;
	cursor: pointer;
	height: 40px;
	margin-top: 20px;
	padding: 0 0 0 30px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width:0px;
   cursor: pointer;
}


.search-form2
.search-submit {
display:none;
}
.items-serch li{padding: 10px 10px; border-bottom: 1px solid #e1dbdb;}
.items-serch li a{color: white;}
.items-serch{position: absolute;top: 98%;width: 300px;padding: 10px;height: 300px;overflow-y: scroll;background-color: #0D72A0;}
.responsive-map{height: 350px;width: 350px;top: 70%;right: 15%;background-color: white;}
.thnk-umain{background-image: url(../images/thankyou.jpg);background-size:cover;background-repeat: no-repeat;}
.thnk-you{font-size: 60px;}
.checkico{height: 100px;margin-top: 50px;}
.serch-border-p{border-radius: 40px;padding: 24px 20px}
.cross-ico{right:26%; cursor:pointer;}
.cross-ico i{color: grey;font-size: 30px;}
.listing-serch{ height:400px;overflow-y: scroll;}
.listing-serch li{ height: 50px; border-bottom: 1px solid #dee2e6;margin-top: 20px}
.serch-under-img{height:35px;}
.span-item{color: grey;font-size: 10px}



/*=====responsive==========*/
@media(min-width: 1600px) and (max-width:1699px){
	 .container{
	 	max-width: 1340px!important;
	 }
}
@media(min-width: 1700px){
	 .container{
	 	max-width: 1440px!important;
	 }
}
@media(max-width:768px){
	.cross-ico {
    right: 24%;
}
}
@media(max-width:767px){
	.width-address{
		width: 100%;
		text-align: center;
	}
	.empty-imh{width:100%;}

	.search-field {
	width: 150px;

}
.cross-ico {
    right: 10%;
}
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.globalSearch{
    min-height: calc(100vh - 550px);
}


.two_divider_column {
    background: #fff;
    border-radius: 24px;
    padding: 30px  30px;
    box-shadow: 4px 1px 8px 1px #eee;
	position:relative;
}
li.line-colum-delet {
    background: #f4f5f5;
	padding: 14px 13px 14px 20px;
    border-radius: 20px;
	position: relative;
}

 .btn-blue{
    color: #fff;
    padding: 7px 9px;
    border-radius: 5px;
    font-size: 14px;
}
.btn-blue:hover {
    color: #fff;
}
li.line-colum-delet .trash-alt {
    z-index: 1;
    display: flex;
    align-items: center;
    color: #fff;
}
li.line-colum-delet .trash-alt:after {
    content: "";
    background: #ed0606;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 43px;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}
.disc-list-brocoli 
 li.line-colum-delet.active {
    background: #0d72a0;
    color: #fff;
}
.border-bottom-line {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.two_divider_column .heading-other {
    font-size: 19px;
}
.list-scroll-offer{  height: calc(600px - 200px);  overflow-y: scroll;scrollbar-color: #fff #fff; scrollbar-width: thin;}
.list-scroll-offer::-webkit-scrollbar {   width: 5px;} 
/* Track */
.list-scroll-offer::-webkit-scrollbar-track {  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);  -webkit-border-radius: 10px;
    border-radius: 10px;} 
/* Handle */
.list-scroll-offer::-webkit-scrollbar-thumb {  -webkit-border-radius: 10px;  border-radius: 10px;  background: rgba(255,255,255,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2); }

p.color-light {
		background: #f8f8f8;
		margin-top: 11px;
		padding: 7px 13px;
		font-size: 15px;
		font-weight:600;
	}

	.disc-list-brocoli {  height: calc(600px - 200px);  overflow-y: scroll;scrollbar-color: #fff #fff; scrollbar-width: thin;}
	.disc-list-brocoli::-webkit-scrollbar {   width: 5px;} 
	/* Track */
	.disc-list-brocoli::-webkit-scrollbar-track {  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);  -webkit-border-radius: 10px;
		border-radius: 10px;} 
	/* Handle */
	.disc-list-brocoli::-webkit-scrollbar-thumb {  -webkit-border-radius: 10px;  border-radius: 10px;  background: rgba(255,255,255,0.2); 
		-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2); }
.add-product-modal .input-field {
			background: #f8f8f8;
			min-height: 44px;
			border: none;
			outline: none;
			width: 100%;
			border-radius: 10px;
			font-size: 15px;
			padding: 5px 20px 5px 20px;
		}
.add-product-modal .padding-box-data {
			padding: 30px 40px 20px;
}
.add-product-modal h5 {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #0D72A0;
	font-weight: 600;
}
button.close {
    position: absolute;
    top: 30px;
    right: 27px;
    font-size: 27px;
	color: #ed0606;
	z-index:1;
	opacity:1;
}
.add-product-modal .nice-select{
    line-height: 25px;
	background: #f8f8f8;
	min-height: 44px;
	border: none;
	outline: none;
	width: 100%;
	border-radius: 10px;
	font-size: 15px;
	padding: 5px 20px 5px 20px;
}
